ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.About {
  color: black;
  text-decoration:none;
  text-align:left;
  padding: 7px;
}

.Store {
  color: black;
  text-decoration:none;
  text-align:left;
  padding: 5px;
}

.Gmail {
  text-decoration:none;
  color: black;
  float:right;
  padding: 7px;
  border-spacing: 10px;
}

.Images {
  text-decoration:none;
  color: black;
  float:right;
  padding: 7px;
  border-spacing: 10px;
}

.SignIn {
  text-decoration:none;
  background-color:  #4646f5;
  border-color: #4646f5;
  color: White;
  border-radius: 2px;
  padding: 10px;
  float:right;
}

.Google{
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 55%;

}
